* {
    margin: 0;
    padding: 0;
}

.body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 16px;
    line-height: normal;
}

.shadowImg {
    box-shadow: 0px 6px 16px -12px #000;
}

.imgThumnil {
    width: 80%;
}

.txtAlignCen {
    text-align: center;
}


/* margin and padding */

.mt0 {
    margin-top: 0;
}

.mt120 {
    margin-top: 120px;
}

.mt50 {
    margin-top: 50px;
}


/* margin and padding */


/* font styles */

.fontWLight {
    font-weight: 300;
}

.fontWReg {
    font-weight: 400;
}

.fontWMed {
    font-weight: 500;
}

.fontWBold {
    font-weight: 700;
}

.fontWBlk {
    font-weight: 900;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}


/* font styles */

.logo {
    width: 190px;
}

.headerBannerBg {
    background: url(img/banner_header.png) 0 -100px / contain no-repeat;
    background-size: contain;
}

.colorTxtW {
    color: #fff;
}

.justify-content-right {
    justify-content: right;
}

.bg-light_nav {
    color: #fff;
}

.banner {
    position: relative;
}

.bannerTxt {
    position: absolute;
    top: 50%;
}

.bannerTxt h1 {
    font-size: 60px;
}

.bannerImg {
    margin-top: 25px;
}

.titleHeadeing {
    font-size: 30px;
}

.listaproch {
    margin: 0;
    padding: 0;
    list-style: none;
}

.listaproch li img {
    display: block;
    margin: 0 0 10px;
}

.listaproch li {
    text-align: center;
    display: inline-block;
    padding: 0 17px;
}

.componentSec {}

.colorBox {
    height: 90px;
    width: 120px;
    float: left;
}

.colorBox code {
    display: block;
    color: #000;
    font-size: 20px;
}

.colorOne,
.colorone {
    background: #AEEA00;
}

.colorTwo {
    background: #827717;
}

.colorOne,
.colorTwo {
    height: 90px;
    width: 90px;
    border-radius: 50px 50px;
    display: inline-block;
}

.typeBg {
    background: url(img/fontImg.jpg) center / cover no-repeat;
    background-attachment: fixed;
    height: 600px;
}


/* responsive css */

@media screen and ( max-width: 600px) {
    .bannerTxt {
        position: relative;
    }
    .headerBannerBg {
        background: url(img/banner_header.png) 100% -50px no-repeat;
    }
}


/* responsive css */